*{
    padding: 0%;
    margin: 0%;
   

}
body{
    background-color:#0e1729;
}
#nav{
      background-color: rgb(62, 139, 158);
      display: flex;
     
      justify-content: space-between;
      
}
#nav h1{
    color: #f7f7f7;
    size: 30px;
    font-size: 22px;
    

}
#manu{
    display: flex;
    gap: 35px;
    list-style: none;
    margin-right: 62px;
}
#manu a{
    text-decoration: none;
    color:#15153b;
    font-size:larger;

}
#manu a:hover{
    color: rgb(255, 255, 255);

}
#intro{
    color: white;
    margin-top: 10px;
    margin-left: 100px;
    display: flex;
    align-items:end;
    font-size: 24px;
    
  
}



#para{
    width: 500px;
    margin-top: 12px;
    color: white;
     margin-left: 40px;
}
.image{
    margin-left: 390px;
    width: 130px;
    margin-top: 00px;

}
.image:hover{
    transform: translateY(-20px) scale(1.1); 
}
#bt{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    margin-left: 200px;


}
#c {
    padding: 11px;
    background-color: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    size: 670px;
    border-radius: 120px;
    gap: 11px;
    border-bottom: 56px;
    
}
#c:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(240, 240, 240);
}
#w {
    padding: 11px;
    background-color: rgb(238, 235, 235);
    color: rgb(0, 0, 0);
    size: 670px;
    border-radius: 120px;
    gap: 11px;
}
#w:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#skil{
    margin-top: 12px;
    line-gap-override: 120px;
    
}
#skil h1{
    color: white;
    margin-left:636px ;
    align-items: center;
    justify-content: center;

}
 
#skil a{
    text-decoration: none;
    color: white;
    margin-left:90px ;
    border-radius: 45px;
    margin-bottom: 12px;
    gap: 12px;
    line-height: 12px;
    font-size: larger;
    align-items: center;
}
#skil a:hover{
    background-color: #f7f7f7;
    color: black;
}

#sk {
    display: flex;
    list-style: none;
    justify-content: space-between;
}


#ht{
    color: white;
    border:2px solid white;
    
}

#po{
    font-size: 20px;
    width: 402px;

}
#htm:hover{
     
        animation: blink 0.5s infinite;
        transform: translateY(-10px) scale(1.1); 
    }
    
    @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0.3; }
    }
    




    #ht{
        color: white;
        border:2px solid white;
        
    }
    
    #po{
        font-size: 20px;
        width: 402px;
    
    }
    #htm:hover{
         
            animation: blink 0.5s infinite;
        }
        
        @keyframes blink {
            0%, 100% { opacity: 1; }
            50% { opacity: 0.3; }
        }
        
        #ht{
            color: white;
            border:2px solid white;
            
        }
        
        #po{
            font-size: 20px;
            width: 402px;
        
        }
        #htm:hover{
             
                animation: blink 0.5s infinite;
            }
            
            @keyframes blink {
                0%, 100% { opacity: 1; }
                50% { opacity: 0.3; }
            }
            
.sa h2{
      color: white;
      justify-content: center;
      align-items: center;
}   
.sa a{
    align-items: center;
    color: white;
}  

#prejr{
    display: flex;
    margin: 0 ;
    padding: 0;
    margin-top: 12px;
}
#t{
    margin-left: 110px;
    color: white;


}
#l{
    width: 100px;
    height: 115px;
}

#l:hover{
    transform: translateY(-20px) scale(1.1); 
}
.box{
    display: flex;
    justify-content: center;
    
}
#az{
    display: flex;
}
#cv{
    color: white;
    width: 500px;
    margin-left: 66px;
    list-style: none;
    margin-top: 33px;
}
#bn{
    margin-left: 67px;
    margin-bottom: 34px;
}
#inpt input{
    margin-left: 12px;
    margin-top:23px ;
    background-color: #0e1729;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

#inpt input::placeholder{
    color: lightgray;
}
h2{
    color: white;

}
p1{
    color: white;
}
#footer{
    background-color: #0e1729;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.footer-box{
    width: 250px;
}

.footer-box h3{
    margin-bottom: 15px;
    color: #6ad0ff;
}

.footer-box p{
    font-size: 14px;
    line-height: 22px;
}

.footer-box ul{
    list-style: none;
    padding: 0;
}

.footer-box ul li{
    margin-bottom: 10px;
}

.footer-box ul li a{
    text-decoration: none;
    color: white;
}

.footer-box ul li a:hover{
    color: #6ad0ff;
}


#copyright{
    background-color: #08101f;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}







        
        
        
        
    
    
    
    

#foot{
    background-color: black;
    color: white;
}
