*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #0e1729;
    font-family: Arial, sans-serif;
}


#login-box{
    width: 380px;
    margin: 120px auto;
    padding: 30px;
    background-color: #101b33;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
    color: white;
}


#login-box h2{
    text-align: center;
    margin-bottom: 25px;
}


#login-box ul{
    padding: 0;
}

#login-box li{
    list-style: none;
    margin-bottom: 18px;
}


.field{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.field input{
    margin-top: 6px;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #555;
    background-color: #0e1729;
    color: white;
    outline: none;
}

.field input::placeholder{
    color: #aaa;
}


.field input:focus{
    border-color: #4da6ff;
    box-shadow: 0 0 6px rgba(77,166,255,0.7);
}


#login-btn{
    width: 100%;
    padding: 12px;
    background-color: #4da6ff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

#login-btn:hover{
    background-color: #3399ff;
}

/* Register text */
.extra{
    text-align: center;
    font-size: 14px;
}

.extra a{
    color: #4da6ff;
    text-decoration: none;
}

.extra a:hover{
    text-decoration: underline;
}
